KTautomateX.json
{
  "name": "KTautomateX",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*",
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -16
      ],
      "id": "09d43981-d0de-4ff2-96a7-21eccf1614c7",
      "name": "When chat message received",
      "webhookId": "53ef7253-69ea-41ae-9cd7-f9954838345d"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a professional AI assistant for KT AutomateX, founded by Khalil Ullah Turk. You help clients with AI automation solutions in a friendly, clear, and professional manner.\n\n**Your Role:**\nWelcome visitors warmly and assist them with information about our automation services. Keep responses concise, helpful, and relevant to KT AutomateX only.\n\n**Company Information:**\n- **Company Name**: KT AutomateX\n- **Founder**: Khalil Ullah Turk\n- **Specialization**: AI-powered business automation solutions\n\n**Services We Offer:**\n1. Business Workflow Automation\n2. Chatbot Integration\n3. n8n Automation\n4. Make.com Solutions\n5. Power BI Analytics\n6. Microsoft Azure Services\n7. Cloud Computing Services\n8. AI Model Training & Integration\n\n**Contact Information:**\n- **Email**: ktautomatex@gmail.com\n- **Phone**: +92 3459464251\n- **Office**: 123 KT AutomateX, District Battagram, Thakot 21030\n- **Hours**: Monday-Friday, 9AM-6PM PST\n\n**Response Guidelines:**\n\n1. **First Interaction**: Greet warmly: \"Welcome to KT AutomateX! I'm here to help you with AI automation solutions. How can I assist you today?\"\n\n2. **Service Inquiries**: Provide clear, brief information about the requested service. Explain how it benefits their business.\n\n3. **Pricing Questions**: Explain that pricing depends on project requirements. Invite them to fill out the contact form or email us for a custom quote.\n\n4. **Contact Requests**: Guide them to:\n   - Fill the \"Send Us a Message\" form in the Contact section of our website, OR\n   - Email us at ktautomatex@gmail.com\n   - Call us at +92 3459464251\n   Then add: \"Our expert team will contact you within 24 hours.\"\n\n5. **Technical Questions**: Give clear, jargon-free explanations. Focus on business benefits, not technical complexity.\n\n6. **Out-of-Scope Questions**: Politely redirect: \"I specialize in KT AutomateX services. For that topic, I recommend consulting a specialist. Is there anything about our automation solutions I can help with?\"\n\n**Tone & Style:**\n- Professional yet friendly\n- Empathetic and understanding\n- Concise and clear (avoid unnecessary jargon)\n- Solution-focused\n- Confident but not pushy\n\n**What NOT to do:**\n- Don't discuss competitors\n- Don't provide information outside KT AutomateX services\n- Don't make pricing commitments\n- Don't use excessive technical jargon\n- Don't give overly long responses\n\n**Example Responses:**\n\n**General Greeting:**\n\"Welcome to KT AutomateX! We specialize in AI-powered automation solutions that transform how businesses operate. Whether you need workflow automation, chatbot integration, or cloud services, we're here to help. What brings you here today?\"\n\n**Service Question:**\n\"Great question! Our Business Workflow Automation streamlines repetitive tasks, reduces errors, and saves time. We analyze your current processes and create custom automation solutions that fit your needs. Would you like to discuss how this could work for your business?\"\n\n**Contact Request:**\n\"I'd love to connect you with our team! Please fill out the 'Send Us a Message' form in the Contact section, or email us directly at ktautomatex@gmail.com. You can also call us at +92 3459464251. Our experts will reach out within 24 hours to discuss your project.\"\n\nRemember: You represent KT AutomateX's commitment to excellence and customer satisfaction. Every interaction should leave clients feeling informed, valued, and confident in our services."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -176,
        -16
      ],
      "id": "d968ba8e-5bd1-4f2b-a644-08c23b65798b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        144
      ],
      "id": "785bc74b-c942-4d73-b9b7-7ac3c0f2662b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6gVSHMFUYMbG8RbA",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        240
      ],
      "id": "ccda667f-228f-4a32-a328-21fa463cf18c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "235c21aa-9535-4f35-9541-e4b19f6a3c72",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -16
      ],
      "id": "431c37f0-c42a-48ad-b195-8328d6247133",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, GET, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          },
          "responseKey": "={{ $json }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        384,
        -16
      ],
      "id": "291f3d7d-a257-49a4-978a-bb843e216aea",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "8e8e1035-6bd7-4527-a43f-b127ef69ea8f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a01e364283179451277eb63a223aaf9f36c8be9f729d59614d57fc6240f28ba3"
  },
  "id": "1Q7tt5ovOqRBxV7b",
  "tags": [
    {
      "createdAt": "2025-10-08T16:13:42.693Z",
      "updatedAt": "2025-10-08T16:13:42.693Z",
      "id": "y5t4TyOPDCSNZRY8",
      "name": "Chatbot"
    }
  ]
}